<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="//getbootstrap.com/dist/css/bootstrap.min.css">
  <title>FindMyDev</title>
  <style>
    /* Space out content a bit */
  body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; }
  .header, .marketing, .footer {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .header {
    padding-bottom: 1rem;
    border-bottom: .05rem solid #e5e5e5;
  }
  .header h1 {
    font-weight:900;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;
  }
  </style>
</head>
<body>
  <div class="container">
    <header class="header clearfix">
      <nav>
      <ul class="nav nav-pills float-right">
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/resources">Resources</a>
        </li>
        {{#if currentUser}}
          <li class="nav-item">
            <a class="nav-link" href="/mentor-posts/new">Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
        {{/if}}
      </ul>
      </nav>
      <h1><a href="/">FindMyMentor</a><h1>
    </header>

    {{{body}}}
  </div>
</body>
</html>
