<div>
  <h3> Some helpful links</h3>
  <p> some useful links to help you learn and be a better mentor</p>
  <ul>
    <li>
  <a href="hackerrank.com"> HackerRank </a>
</li>
<li>
  <a href="reddit.com/r/eli5" > Explain Like I'm 5 </a>
</li>
</ul>
</div>
